include ./mixins/_index

doctype html
html(lang="en")
    head
        +meta-data("Khaled Mohamed")

        +meta-desc("Just a To Do Application for training in using Javascript with some features.")

        +meta-words("HTML, HTML5, CSS, CSS3, JS, PugJS, Front End Challenge")

        link(rel="shortcut icon" href="./assets/favicons/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="./assets/favicons/site.webmanifest")

        +space()

        title To Do List Application

        +space()

        link(rel="stylesheet" href="./src/styles.css")
        script(src="./src/app.js" defer) 

    body 
        main(id="main" class="main")
            form(id="add-task" class="add-task")
                input(type="text" name="" id="add-task-input" class="add-task__input" placeholder="add a new task.." autofocus)
                button(id="add-task-btn" type="submit" class="btn add-task__btn") add task

            section(id="tasks" class="tasks")

        +no-script()