:root {
    --primary-clr: #305557;
    --secondary-clr: #1c3c3d;
    --font-size: 1.2rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    background: linear-gradient(200deg, #2d7f83, #115e61);
}

.main {
    min-width: 19rem;
    max-width: 45rem;
    padding: 2rem 1rem;
    margin-inline: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main .add-task {
    width: 100%;
    margin-block-start: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;
    font-size: var(--font-size);
}

.main .add-task .add-task__input {
    flex-grow: 2;
    padding-inline: 10px;
    padding-block: 8px;
    outline: none;
    border: 1px solid #999;
    border-radius: 0.625rem;
    color: var(--primary-clr);
    caret-color: var(--primary-clr);
}

.main .add-task .add-task__input::placeholder {
    text-transform: capitalize;
    color: #888;
}

.btn {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 0.625rem;
    text-transform: capitalize;
    background-color: var(--primary-clr);
    color: white;
    text-wrap: nowrap;
    cursor: pointer;
}

.main .tasks {
    width: 100%;
    max-height: 21rem;
    padding-inline-end: 1rem;
    margin-block-start: 4rem;
    text-align: center;
}

.main .tasks.scrollable {
    overflow-y: auto;
}

.main .tasks::-webkit-scrollbar {
    width: 10px;
}

.main .tasks::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f1f1f1;
}

.main .tasks::-webkit-scrollbar-thumb {
    background-color: var(--primary-clr);
    border-radius: 5px;
}

.main .tasks::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-clr);
}

.main .tasks__item {
    width: 100%;
    padding: 0.625rem;
    padding-inline-start: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.625rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size);
    background-color: white;
}

.main .tasks__item__title.done {
    padding-inline-start: 1.2rem;
}

.main .tasks__item__title.done::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: -0.5%;
    transform: translateY(-50%);
    color: var(--primary-clr);
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

.main .tasks__item__title {
    display: inline-block;
    text-align: left;
    flex-grow: 2;
    position: relative;
    cursor: pointer;
}

.main .tasks__item__title__tooltip {
    width: 10rem;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    background-color: var(--secondary-clr);
    color: #FFF;
    z-index: 10;
    transition: all 0.35s ease-in-out;
}

.main .tasks__item__title__tooltip::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background-color: var(--secondary-clr);
    z-index: 9;
}

.main .tasks__item:hover .tasks__item__title__tooltip {
    top: -20%;
    visibility: visible;
    opacity: 1;
}

.main .tasks__item:first-of-type .tasks__item__title__tooltip {
    bottom: -100%;
    top: auto;
}

.main .tasks__item:first-of-type:hover .tasks__item__title__tooltip {
    bottom: -65%;
}

.main .tasks__item:first-of-type .tasks__item__title__tooltip::after {
    bottom: auto;
    top: -15%;
}